*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: #2e0003;
    }

.hero{
    background-color: #2e0003;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
}


.navbar{
    background-color: #b3000c;
    padding: 1rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar a:hover{
    background-color: #8a0009;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 2rem auto;
    background-color: rgb(172, 154, 154);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 0 1rem 0 0;
}

.sidebar {
    background-color:  #8a0009;
    padding: 2rem;
    width: 300px;
}

.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 1.5rem auto;
    border: 3px solid #000000;
}

.sidebar h2{
    color:#000000;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.main-content{
    flex: 1;
    padding: 2rem;

}

.main-content h2{
    color: #2e0003;
    margin-bottom: 1.0rem;
    font-size: 1.0rem;
    border-bottom: 2px solid #2e0003;
    padding-bottom: 0.5rem;
}
