*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: rgb(222, 2, 79);
    background-color: rgb(190, 0, 111);
    }

.hero{
    background-color: rgb(205, 11, 92);
    color: white;
    text-align: center;
    padding: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
}


.navbar{
    background-color: #b502b5;
    padding: 1rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar a:hover{
    background-color: #9e03d6;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 2rem auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 0 1rem;
}

.sidebar {
    background-color: rgb(212, 0, 255);
    padding: 2rem;
    width: 300px;
    min-height: 400px;
}

.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 1.5rem auto;
    border: 3px solid purple;
}

.sidebar h2{
    color:blue;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.main-content{
    flex: 1;
    padding: 2rem;

}

.main-content h2{
    color: purple;
    margin-bottom: 1.0rem;
    font-size: 1.0rem;
    border-bottom: 2px solid #9e03d6;
    padding-bottom: 0.5rem;
}
